.topbar{
  width: 100%;
  padding: 6px 7%;
  margin: 0;
  background: #668c5b;
}
.topbar p{
  font-size: 12px;
  color: white;
  margin: 0;
  padding: 0;
}
.topbar p a{
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
}
.topbar p a i{
  padding: 6px;
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 50px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.topbar p a i:hover{
  background-color: white;
  color: #668c5b;
  transition: 200ms ease-in;
}
.login-Cart p a{
  padding: 6px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.login-Cart .badge {
  --bs-badge-padding-x: 0.8em;
  --bs-badge-padding-y: 0.55em;
  --bs-badge-font-weight: 500;
}

.navbar.bg-light{
  padding: 20px 6%!important;
  /* padding-bottom: 20px!important; */
  background-color: white!important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar-brand{
  font-size: 26px;
  font-weight: 600;
  color: #668c5b;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  box-shadow: none;
  border: none;
}
.navbar .input-group .form-control{
  box-shadow: none;
}
.navbar .input-group .form-control:focus{
  border-color: #668c5b;
}
.navbar .input-group .btn-outline-secondary{
  background-color: #668c5b;
  color: white;
  box-shadow: none;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: rgba(0,0,0,0.6);
  font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.visited,
.navbar-expand-lg .navbar-nav .nav-link.focus,
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #000;
  transition: .2s ease;
}
.navbar-nav .dropdown-menu{
  padding: 0;
}
.navbar-nav .dropdown-menu .dropdown-item{
  background-color: #668c5b;
  color: white;
  padding: 7px 16px!important;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.navbar-nav .dropdown-menu .dropdown-item:hover{
  background-color: #668c5bb0;
  color: white;
  transition: 200ms ease-in;
}



@media(max-width:992px){
  .navbar-collapse{
    margin: 20px;
  }
}

@media(max-width:768px){
  .topbar{
    padding: 5px 0;
  }
  .navbar.bg-light{
    padding: 10px 0!important;
  }

}
/*
@media(max-width:575px){
  .display-n{
    display: none;
  }
} */
