<section class="topbar defaultPadd sticky-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-6">
        <p class="float-start"><a href="tel:+919012348765"><i class="fas fa-phone-alt"></i> +91 9012348765</a></p>
      </div>
      <div class="col-md-4 col-sm-4 text-center display-n">
        <p>
          <a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>&nbsp;
          <a href="https://twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>&nbsp;
          <a href="https://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-6 login-Cart">
        <p class="float-end">
          <a href="" routerLink="/login">Login</a> |
          <a routerLink="/cart">
            <i class="fas fa-shopping-cart"></i> Cart&nbsp; <span class="badge bg-dark text-light">2</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><i class="fas fa-salad"></i> Grocery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home" >HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SHOP
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/shop" routerLinkActive="active">Shop</a></li>
            <li><a class="dropdown-item" routerLink="/vegitables" routerLinkActive="active">Vegitables</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" routerLink="/fruits" routerLinkActive="active">Fruits</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" routerLink="/dryfruits" routerLinkActive="active">Dry Foods</a></li>
            <li><a class="dropdown-item" routerLink="/grvegitables" routerLinkActive="active">Green Vegitables</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/product-single" routerLinkActive="active">Product Single</a>
        </li> -->
      </ul>
      <form class="d-flex">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
      </form>
    </div>
  </div>
</nav>
