<div class="about-hero">
  <h2 class="fw-bolder">ABOUT</h2>
</div>


<div class="mainboxcontent textBox">
  <h2 class="fw-bolder fwh2-h2">About Us</h2>
  <h4 class="fw-bolder fwh2-h2">Reasons to Love Butternut Squash</h4>
  <p>
    Look beyond butternut squash’s intimidating hard skin, and you’ll find a bright orange flesh,
    buttery texture and slightly sweet, nutty flavor — with so many meal possibilities! Why should
    you make butternut squash your go-to ingredient for fall and winter meals?
  </p>


  <div class="row mt-5 mt-5">

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5>Free Shipping</h5>
          <p>
            we work with proven designers and manufacturers, that’s why we can
            guarantee 100% quality of all items.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5>24/7 Support</h5>
          <p>
            we ship all over USA as well as overseas. It takes 3-5 business
            days for package to be delivered.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5>Payment Process</h5>
          <p>
            we offer affordable prices and regularly announce sales on last season’s items.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="about-bottom">
  <div class=" mb-0">
    <h2 class="fw-bolder">The Founder</h2>
    <p class="fw-bolder text-dark">
      Look beyond butternut squash’s intimidating hard skin, and you’ll find a bright orange flesh,
      buttery texture and slightly sweet, nutty flavor — with so many meal possibilities! Why should
      you make butternut squash your go-to ingredient for fall and winter meals?
      Look beyond butternut squash’s intimidating hard skin, and you’ll find a bright orange flesh,
      buttery texture and slightly sweet, nutty flavor — with so many meal possibilities! Why should
      you make butternut squash your go-to ingredient for fall and winter meals?
    </p>
  </div>
</div>
