
<div class="login-card">
  <h4 class="mb-4">Login</h4>
  <form action="">
    <input type="text" class="form-control mb-3" placeholder="Email ID" required>
    <input type="password" class="form-control" placeholder="Password" required>
    <button class="default-green-btn btn btn-sm mt-3 col-12 mb-2">Login</button>
  </form>
  <a routerLink="/register" class="btn btn-primary btn-sm col-12 mb-2">Register</a>
  <a routerLink="/forget" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-primary">Forgotten password?</a>
</div>
