<div class="mainboxcontent why-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-7 text-center">
        <a href=""><img src="assets\images\why-us.jpg" class="img-fluid mb-4"></a>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-5 text-left">
        <h2 class="fw-light mb-3">Why US</h2>
        <h3>Highest Quality</h3>
      <!--  ===========================     Accordion    ============================   -->
        <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Only fresh products
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body paragraph-text">
                All vegetables are freshly harvested from our own patches by our dedicated workers. We deliver only
                fresh products and value our status in our customers eyes. Before delivering, we thoroughly check each item.
                Our company’s image has been built during seven years of dedicated and careful work, and we are
                proud of the scale that we’ve achieved so far. We gained the trust of customers on the market and keep on working on it.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Many years on the market
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body paragraph-text">
                Our company’s image has been built during seven years of dedicated and careful work, and we are
                proud of the scale that we’ve achieved so far. We gained the trust of customers on the market and keep on working on it.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Huge choice of vegetables
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body paragraph-text">
                Our company’s image has been built during seven years of dedicated and careful work, and we are proud
                of the scale that we’ve achieved so far. We gained the trust of customers on the market and keep on working on it.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
