<div class="categories" id="categories">
  <div class="container-fluid">
    <h2 class="text-center mb-5 fw-bolder">Trending Now</h2>

    <div class="row">

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="DailyProd" routerLink="/vegitables">
          <img src="../../assets/images/categories/vegitables.jpg">
          <h5 class="fw-bolder text-center mt-3">Vegitables</h5>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="DailyProd" routerLink="/grvegitables">
          <img src="../../assets/images/categories/green_vegitables.jpg">
          <h5 class="fw-bolder text-center mt-3">Green Vegitables</h5>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="DailyProd" routerLink="/fruits">
          <img src="../../assets/images/categories/fruits.jpg">
          <h5 class="fw-bolder text-center mt-3">Fruits</h5>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="DailyProd" routerLink="/dryfruits">
          <img src="../../assets/images/categories/dry_fruits.jpg">
          <h5 class="fw-bolder text-center mt-3">Dry Foods</h5>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="DailyProd" routerLink="/combo">
          <img src="../../assets/images/categories/combo.jpg">
          <h5 class="fw-bolder text-center mt-3">Combo</h5>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="DailyProd" routerLink="/vegitables">
          <img src="assets\images\categories\others.jpg">
          <h5 class="fw-bolder text-center mt-3">Others</h5>
        </div>
      </div>

    </div> <!--       ---------  End of Row  ------------------ -->

  </div>
</div>
